global:
  resolve_timeout: 5m
inhibit_rules:
  - source_matchers:
      - 'severity = critical'
    target_matchers:
      - 'severity =~ warning|info'
    equal:
      - 'namespace'
      - 'alertname'
  - source_matchers:
      - 'severity = warning'
    target_matchers:
      - 'severity = info'
    equal:
      - 'namespace'
      - 'alertname'
  - source_matchers:
      - 'alertname = InfoInhibitor'
    target_matchers:
      - 'severity = info'
    equal:
      - 'namespace'
route:
  group_by: ['namespace', 'alertname']
  group_wait: 30s
  group_interval: 5m
  repeat_interval: 12h
  receiver: 'null'
  # receiver: slack
  routes:
  - receiver: 'null'
    matchers:
      - alertname =~ "InfoInhibitor|Watchdog"

  %{ for key, value in webhook_creds }
  - receiver: webhook-${key}
    matchers:
      %{ if key == "mgmt" }
      - namespace !~ "(${join("|", [ for env in keys(webhook_creds) : env if env != key ])}).*"
      %{ else }
      - namespace =~ "${key}.*"
      %{ endif }
  %{ endfor }

receivers:
- name: 'null'

%{ for key, value in webhook_creds }
- name: webhook-${key}
  webhook_configs:
    - url: ${value.url}
      send_resolved: true
%{ endfor }

templates:
- '/etc/alertmanager/config/*.tmpl'
