fluentbit:
  version: ghcr.io/fluent/fluent-operator/fluent-bit:v3.1.7
  resources:
    limits:
      cpu: 500m
      memory: 200Mi
    requests:
      cpu: 10m
      memory: 25Mi
  matchLabels:
    fluentbit.fluent.io/enabled: "true"

clusterinputs:
  - name: tail
    spec:
      tail:
        path: /var/log/containers/*.log
        excludePath: ""
        parser: cri
        db: /fluent-bit/tail/pos.db
        dbSync: Normal
        memBufLimit: 20MB
        readFromHead: true
        refreshIntervalSeconds: 10
        skipLongLines: true
        storageType: memory
        tagRegex: (?<pod_name>[a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*)_(?<namespace_name>[^_]+)_(?<container_name>.+)-
        tag: kube.<namespace_name>.<pod_name>.<container_name>

  - name: prometheus-exporter
    spec:
      fluentBitMetrics:
        scrapeInterval: "5"
        scrapeOnStart: true
        tag: fluentbit.metrics


clusterfilters:
  - name: k8s
    spec:
      match: kube.*
      filters:
        - kubernetes:
            labels: false
            annotations: false
            k8sLoggingExclude: true
            k8sLoggingParser: true
            kubeCAFile: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
            kubeTokenFile: /var/run/secrets/kubernetes.io/serviceaccount/token
            kubeURL: https://kubernetes.default.svc:443
            kubeTagPrefix: kube.
            regexParser: k8s-custom-tag
        - nest:
            nestedUnder: kubernetes
            operation: lift
            addPrefix: kubernetes_
        - modify:
            rules:
            - remove: stream
            - remove: kubernetes_pod_id
            - remove: kubernetes_host
            - remove: kubernetes_container_hash
        - nest:
            wildcard:
            - kubernetes_*
            operation: nest
            nestUnder: kubernetes
            removePrefix: kubernetes_

  - name: http
    spec:
      match: kube.ingress-nginx*controller
      filters:
        - parser:
            keyName: message
            parser: nginx
            reserveData: true

  - name: app
    spec:
      matchRegex: kube.app.*
      filters:
        - parser:
            keyName: message
            parser: docker
            reserveData: true

clusterparsers:
  - name: k8s-custom-tag
    spec:
      regex:
        regex: (?<namespace_name>[^.]+)\.(?<pod_name>[^.]+)\.(?<container_name>[^.]+)

clusteroutputs:
  - name: loki
    spec:
      match: kube.*
      loki:
        autoKubernetesLabels: "on"
        host: loki.prometheus
        port: 3100
        httpPassword:
          valueFrom:
            secretKeyRef:
              key: pass
              name: loki-auth
        httpUser:
          valueFrom:
            secretKeyRef:
              key: user
              name: loki-auth
        tenantID:
          valueFrom:
            secretKeyRef:
              key: id
              name: loki-auth
        lineFormat: json
        labels:
        - cluster=mgmt.us
        labelKeys:
          ## k8s
          - $kubernetes['namespace_name']
          - $kubernetes['pod_name']
          - $kubernetes['container_name']
          - $kubernetes['container_image']
          - $app
          - $trace_id
          - $span_id


  - name: fluentbit-metrics
    spec:
      match: fluentbit.metrics
      prometheusExporter:
        host: 0.0.0.0
        port: 2020
        addLabels:
          app: fluentbit
          release: prometheus

serviceMonitor:
  labels: {}
    # release: prometheus
